<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Work in new lifestyle</h1>
                <h2>Live near your youb!</h2>
            </hgroup>
            <p>
                
            </p>
            <p>
                
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>How to start:</h3>
        <ol class="round">
            <li class="one">
                <h5>Get our mobile app:</h5>
                
            </li>

            <li class="two">
                <h5>Mark your workplace</h5>
                
            </li>
            <li class="three">
                <h5>Check nearest estates offers</h5>
                
            </li>
        </ol>
    </section>
</div>
